$blackColor: rgba(0, 0, 0, 0.5);
$greenColor: hsl(120, 60%, 50%);
$whiteColor: #FFF;
//$shadow: rgba(0, 0, 0, 0.5);
// Mixins
@mixin area($w: auto, $h: auto) {
    width: $w;
    height: $h;
}

@mixin pos($p, $t: auto, $l: auto) {
    position: $p;
    top: $t;
    left: $l;
}

@mixin flex($flexCont: flex-start, $s: center, $r: row, $nw: nowrap) {
    display: flex;
    justify-content: $flexCont;
    align-items: $s;
    flex-direction: $r;
    flex-wrap: $nw;
}

body {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    @include flex(center, center, column);
    @include area(50%, 100vh);
    margin: 0 auto;
}

.textarea {
    @include area(800px);
    margin: 30px 0;
    border: none;
    border-bottom: 1px solid $blackColor;
}

.keyboard {
    @include area();
    font-size: 14px;
    &__row {
        @include flex();
    }
    &__key {
        @include area(3rem, auto);
        margin: 3px;
        text-align: center;
        line-height: 3rem;
        border: 1px solid hsl(120, 61%, 38%);
        border-radius: 5px;
        &:hover {
            color: $whiteColor;
            background: $greenColor;
        }
    }
    .Tab,
    .Backspace {
        @include area(4.5rem, 3rem);
    }
    .CapsLock,
    .ControlLeft,
    .ControlRight,
    .Enter {
        @include area(5.5rem, 3rem);
    }
    .ShiftLeft,
    .ShiftRight {
        @include area(7rem, 3rem);
    }
    .ContextMenu,
    .keyboard .AltLeft,
    .keyboard .AltRight {
        @include area(3.5rem, 3rem);
    }
    .Space {
        @include area(18rem, 3rem);
    }
}

@keyframes key {
    from {
        color: #FFF;
        background: hsla(120, 80%, 54%, 0.966);
        transform: scale(1.125);
        opacity: 0.75;
    }
    to {
        color: #FFF;
        background: hsl(98, 92%, 15%);
        transform: scale(1);
        opacity: 1;
    }
}

.active {
    animation: key 0.3s linear;
}